.text {
    -unity-font-definition: resource('Fonts/Roboto/Roboto-Medium');
    font-size: 30px;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
}

.textMono {
    -unity-font-definition: resource('Fonts/Roboto/RobotoMono-Medium');
    font-size: 30px;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
}
